.army-modifiers-panel {
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 2px;
}

.army-modifiers-panel .modifiers-panel{
    display: grid;
    grid-template-columns: subgrid;
}

.army-modifiers-panel .morale-panel, .army-modifiers-panel .tactics-panel{
    grid-column: span 3;
    grid-row: span 5;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    margin: 10px 0;
}

.army-modifiers-panel h4, .army-modifiers-panel h5{
    margin: 5px 0;
}

