.battle-grid .selector-panel {
    margin: auto;
    width: max-content;
    text-align: center;
}

.battle-grid .selector-panel input {
    width: auto;
}

.battle-grid table {
    table-layout: fixed;
    border-spacing: 0px;
    margin: auto;
}

.battle-grid tr .cell{
    border: 1px solid #444444;
    padding: 0;
    height: 32px;
    width: 32px;
}

.battle-grid tr .cell:not(:last-child){
    border-right-style: none;
}

.battle-grid .grid-gap {
    height: 100px;
}


.battle-grid .cell-grid {
    position: relative;
} 

.battle-grid .cell-grid img {
    display: block;
    margin: 0;
    padding: 0;
    padding: 0;
    line-height: 0;
    height: 32px;
    width: 32px;
 }

.battle-grid .cell-grid .morale {
    width: 100%;
    background-color: #ffc966;
    position: absolute;
    bottom: 0;
    z-index: -1;
}


.battle-grid .floating-tooltip {
    width: auto;
    background-color: rgba(60, 60, 60, 0.5);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-wrap: nowrap;
    text-align: left;
    user-select: none;
    font-size: small;
    pointer-events: none;
    z-index: 15;
}

.battle-grid .floating-tooltip ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.battle-grid .army-info-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
}

.battle-grid .army-info-panel .info-column {
    display: grid;
    grid-column: span 2;
    grid-template-columns: subgrid;
    padding: 0 10px;
}