.regiments-panel {
    display: grid;
    grid-template-columns: subgrid;
}

.regiments-panel input{
    width: 70%;
}

.regiments-panel h5{
    text-wrap: wrap;
    margin: 5px 0;
    line-height: 100%;
}

.regiments-panel .unit-select{
    grid-column: span 3;
}

.regiments-panel .regiments-row{
    grid-column: span 6;
    display: grid;
    grid-template-columns: subgrid;
}

