.regiments-panel {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    gap: 5px 5px;
}

.regiments-panel input{
    width: 50px;
}

.regiments-panel h5{
    text-wrap: wrap;
    margin: 5px 0;
    line-height: 100%;
}

.regiments-panel .regiments-row{
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: subgrid;
}

