:root{
  --half-column-width: 6
}

.App { 
  display: grid;
  grid-template-columns: repeat(calc(2 * var(--half-column-width)), 1fr);
  column-gap: 10px;
  padding: 20px
}

table, td, tr, th {
  border: 1px solid black;
  border-collapse:collapse;
  text-align: center;
}

table {
  margin: 20px 0px;
}
/* #columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:aliceblue;
  padding: 10px;
} */

.column-heading {
  text-align: center;
  grid-column: span var(--half-column-width);
}

#setup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  grid-column: span calc(2 * var(--half-column-width));

  
}

.full-width, .collapsing-panel {
  grid-column: span calc(2 * var(--half-column-width));
}

.half-width {
  grid-column: span var(--half-column-width);
}

.collapsing-panel {
  display: grid;
  grid-template-columns: subgrid;
  margin: 10px 0;
}


